.wordShelf {
    display: flex;
    
}
.item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px black solid;
    border-radius: 16px;
    color: black;
    color-scheme: light;
    background: white;
    max-width: 100%;
    width: 350px;
    box-shadow: var(--shadow-elevation-medium);
  }
  
  .word {
    flex: 1;
    padding: 12px 0px;
    font-weight: 600;
  }
  

