.appContainer {
    /* display: flex; */
}

.topRow {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.QueryInputContainer {
    display: inline-block;
    margin: auto;
    width: fit-content;
}

.LaunchWordGenerators {
    display: inline-block;
    margin: auto;
    width: max-content;
    padding: 0 50px;
}

.LaunchOverlayButtonWrapper {
    display: block;
    margin: 20px auto;
    width: fit-content;
    text-align: center;
}

.LaunchOverlayButtonWrapper h3 {
    margin: 5px;

}
